  .modal-edit {
      display: none;
      position: fixed;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-edit-content {
      background-color: #ede5dc;
      margin: 70px auto;
      width: 100%;
      height: auto;
      max-width: 600px;
      border-radius: 3px;
      padding-bottom: 2px;
      position: relative;

  }

  .modal-edit textarea {
      width: calc(100% - 20px);
      margin: 10px;
  }

  .btn-edit {
    border: solid gray 1px;
    background: #fffcfc;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    margin: 0;
    height: 37px;
    line-height: 0;
    position: absolute;
  }

  .btn-edit img {
      pointer-events: none;
  }

  li .btn-edit {
      padding: 10px;
  }

  .btn-container {
      position: absolute;
      bottom: 10px;
      left: 10px;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 20px);
  }

  .btn-cancelar {
      background-color: rgb(241, 59, 59);
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
  }

  .btn-atualizar {
      background-color: rgb(3, 143, 66);
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
  }

.portfolio-grid div{
        background: #fff;
    border-radius: 73px;
    height: 121px;
    width: 121px;
    margin: auto;
    cursor: pointer;
}
.portfolio-grid span{
    position: relative;
}

.portfolio-grid button{
 position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 6px 9px rgb(0 0 0 / 35%);
}

  .upload-btn {
    background-image: url(/src/img/add-photo.svg);
    width: 100px;
    height: 100px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    top: 11px;
    cursor: pointer;
  }

  .btn-enviar-foto {
      background-image: url(/src/img/save.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100px;
      height: 100px;
      background-color: transparent;
      border: none;
  }